{% extends 'base.html.twig' %}

{% block title %}Expense{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Envoie de ficher</h3>
                {{ form_start(form) }}
                {{ form_row(form.expense_file) }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(form) }}
            </div>
            <div class="col">
                <h3>Tableau de bord</h3>

                {{ form_start(filterForm, {'attr': {'class': 'form-inline'}}) }}
                    <div class="col">
                        {{ form_label(filterForm.start_date) }}
                        {{ form_widget(filterForm.start_date, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(filterForm.end_date) }}
                        {{ form_widget(filterForm.end_date, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(filterForm.price_mode) }}
                        {{ form_widget(filterForm.price_mode, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(filterForm.apply_filter) }}
                        {{ form_widget(filterForm.apply_filter) }}
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                {{ form_end(filterForm) }}
                <table class="table">
                    <tr>
                        <td>Somme totale des dépenses</td>
                        <td class="text-end">{{ dataSum.sum }}</td>
                    </tr>
                </table>
                <h4>Somme des dépenses par catégorie</h4>
                <table class="table">
                    {% for category, expense in dataSum.sumByCategory %}
                        <tr>
                            <td>{{ category }}</td>
                            <td class="text-end">{{ expense }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <h4>TOP 10</h4>
                <table class="table">
                    {% for vehicle in dataTop10 %}
                        <tr>
                            <td>{{ vehicle.plateNumber }}</td>
                            <td class="text-end">{{ vehicle.expenseSum }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
